<p>basic works!</p>
<app-seuil></app-seuil>
<app-list-prod></app-list-prod>
<br/>
<bsu-toggle-panel title="reglette">
<app-reglette width="200" (changeEvent)="onChangeCurseur($event)"></app-reglette>
{{valeurCurseur}} <br/>
</bsu-toggle-panel>
<br/>
<bsu-toggle-panel title="calculatrice">
    <app-calculatrice></app-calculatrice>
</bsu-toggle-panel>
<br/>
<bsu-toggle-panel title="tva">
   <app-tva></app-tva>
</bsu-toggle-panel> 
<br/>
<bsu-toggle-panel title="xy et zz">
<tabset>
   <tab heading="xy">
       <app-xy></app-xy>
   </tab> 
   <tab heading="zz">
     <app-zz></app-zz>
   </tab>
</tabset>
</bsu-toggle-panel>


